
/* ---------------------------------------------------------------
	BLOC MENU
--------------------------------------------------------------- */

#bcMenu {
    margin-bottom:10px;
    text-align:center;
}

#menu img { width:70%; height:70%; }

#menu > li > a {
    width:100%; height:100%;
}

#menu a {
    display:block;
    color: #ffe;
    text-decoration:none;

    /* Empeche le retour à la ligne */
    white-space: nowrap;
}
#menu > li {
    position: relative;
    display:inline-block;
    height:80px; /* hauteur menu */
    width:10%; /* largeur rayon */
    padding: 5px 0px;
    border-left: 1px solid #345159;
}
#menu > li:last-child {	border-right: 1px solid #345159; }

#menu > li li {
    background: transparent none;
    padding:1px 0px;
    min-width:130px;
}

#menu > li li a {
    text-align:left;
    margin:0px 7px ;
    padding:7px 20px 7px 15px;
    color: #ffe;

    -webkit-transition: all .7s; /* Chrome/Safari */
    -moz-transition: all .7s;/* Firefox (plus trop nécessaire) */
    transition: all .7s; /* syntaxe officielle */
}
#menu > li li:first-child{ margin-top:6px; }
#menu > li li:last-child{ margin-bottom:6px; }
#menu > li li a:hover {	padding-left:25px; padding-right:10px; }

#menu ul {
    position: absolute;
    top: 110px;	left: 0;
    max-height:0; margin-top: -20px; padding: 0;
    overflow: hidden;

    -webkit-transition: overflow .7s; /* Chrome/Safari */
    -moz-transition: overflow .7s;/* Firefox (plus trop nécessaire) */
    transition: overflow .7s; /* syntaxe officielle */
}
#menu > li:hover {
    -webkit-transition: background-color .7s; /* Chrome/Safari */
    -moz-transition: background-color .7s;/* Firefox (plus trop nécessaire) */
    transition: background-color .7s; /* syntaxe officielle */
}

#menu > li:hover ul {
    max-height: 50em;
}

/* ---------------------------------------------------------------
	MEDIA
--------------------------------------------------------------- */

@media (max-width: 980px) {
    #menu {
        /*position:fixed;*/
    }
}